{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content %}


    <h1 class="text-center" style="margin-top: 50px;">About Us</h1>
<div class="container" style="margin: 100px;">
    <div class="row">
        <div class="col-md-6">
            <h1 class="strong">Who we are and <br>What we do</h1>
            <p class="lead">This is the world's leading portal fro<br>easy and quick</p>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit consectetular adipiscing elit do elumpsed tempor incident at lodore magna aliqua
                .Ut enim a minim Lorem ipsum dolor sit amet consectular elit.Nulla convallis egesta ehoncus.Donec facilities fermenrum sem,ac viverra ante luctus vel Donec vel mauris quam. Lorem ipsum dolor sit consectetular adipiscing elit do elumpsed tempor incident at lodore magna aliqua.Ut enim a
                minim</p>
            <p>Lorem ipsum dolor sit amet consectular elit.Nulla convallis egesta ehoncus.Donec facilities fermenrum sem,ac viverra ante luctus vel Donec vel mauris quam</p>
        </div>
        <div class="row">
            <div class="site-heading text-center">
                <h1>Our Team</h1>
                <p>Lorem ipsum dolor sit consectetular adipiscing elit do elumpsed tempor incident at lodore magna aliqua
                    .Ut enim a minim<br>Lorem ipsum dolor sit amet consectular elit.Nulla convallis egesta ehoncus.Donec facilities fermenrum sem</p>
            </div>
            <div class="border">

            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% include 'footer.html' %}

